<footer class="p-4 bg-white md:p-8 lg:p-10 dark:bg-gray-800">
    <div class="mx-auto max-w-screen-xl text-center">
        <a href="/" class="flex justify-center items-center text-2xl font-semibold text-gray-900 dark:text-white">
            <img class="mr-2 h-10" src="/img/logo.png" alt="RadDig">
            RadDig   
        </a>
        <p class="my-6 text-gray-500 dark:text-gray-400">Sitio web que ayuda a la gestión de pacientes sometidos a radiografías.</p>

        <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2023 <a href="/" class="hover:underline">RadDig™</a>. Todos Los Derechos Reservados.</span>
    </div>
  </footer>